{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 02/11/2018
 # Time: 11:00
 #}

{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block stylesheet %}
    <style type="text/css">
        #receiver-form {
            min-height: 700px;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
{% endblock %}
{% block main %}
    <div class="wrapper container" id="receiver-form">
        <h3 id="complete_box__header_message" class="text-alight-center">お問い合わせ内容の送信が完了いたしました。</h3>
        <p class="title14 text-alight-center margin-top15">
            万一、ご回答メールが届かない場合は、トラブルの可能性もありますので<br />
            大変お手数ではございますがもう一度お問い合わせいただくか、お電話にてお問い合わせください。<br />
            今後ともご愛顧賜りますようよろしくお願い申し上げます。
        </p>
    </div>
{% endblock %}

