{#
 # Created by PhpStorm.
 # User: lqdung1992@gmail.com
 # Date: 3/15/2018
 # Time: 8:03 PM
 #}
{% extends 'default_frame.twig' %}
{% set body_class = ' ' %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block javascript %}
    <script type="text/javascript">
        $(function () {
        });
    </script>
{% endblock javascript %}
{% block main %}
    <div class="wrapper container">
        <div class="product-section">
            <form action="?" method="get" name="search-form" id="search-form">
                {{ form_widget(form.name) }}
                {{ form_widget(form.search_type) }}
            </form>

            <div class="row">
                <div class="col-sm-12 col-xs-12">

                </div>
            </div>
        </div>
    </div>
{% endblock main %}
