<div class="farmer-header">
    <img src="{{ app.config.front_urlpath }}/yasai-bus/img/icon/logo.svg">
    <a href="{{ url('mypage_login') }}"><button class="btn btn-default btn-labelsmall title13">ログイン</button></a>
</div>

