body {
    width: 615px;
    height: 1067px;
    background-image: linear-gradient(transparent 0px, transparent 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px), linear-gradient(to right, rgb(200, 195, 199) 0px, rgb(200, 195, 199) 2px, rgb(255, 255, 255) 2px, rgb(255, 255, 255) 20px);
    background-position: 301.5px -2px;
    background-size: 20px 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: auto;
}

.bar1, .bar2, .bar3 {
    width: 22px;
    height: 3px;
    background-color: #00c42b;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.wrapper, .menu-wrapper {
    width: 375px;
    height: 934px;
    /*background-color: #f7f7f7;*/
    background-color: #ffffff;
    margin: auto;
    border: 1px solid #cccccc;
}

#reicever-wrapper {
    background-color: #ffffff;
    height: 980px;
}

#driver-wrapper {
    background-color: #f7f7f7;
    height: 800px;
}

.header {
    width: 375px;
    height: 54px;
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #cccccc;
}

.farmer-header {
    width: 375px;
    height: 54px;
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #cccccc;
    padding-top: 10px;
    padding-left: 35%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.title {
    color: #505050;
    font-weight: bold;
}

.header .float-left {
    padding: 10px;
}

.header .logo {
    margin-left: 21%;
    margin-top: 7px;
}

.farmer-header img {
    margin-right: 18%;
}

.header .float-right {
    margin-right: 10px;
    margin-top: 8px;
}


.layer-big {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.layer-small {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #222222;
}

.layer-tiny {
    font-size: 11px;
    font-weight: 500;
    text-align: left;
    color: #888888;
}

.header-bottom {
    margin: 20px 0;
}

.rectangle-content {
    width: 345px;
    height: 88px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 0.5px #cccccc;
    margin: auto;
    margin-bottom: 10px;
}

.text-left {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #00c42b;
    margin-right: 10px;
}

.text-center {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #222222;
}

.text-tiny {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #888888;
}

.text-align-right {
    text-align: right;
}

.Rectangle {
    width: 375px;
    height: 30px;
}

.left_disable {
    width: 24%;
    height: 20px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #888888;
}
.left_enable {
    width: 24%;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #00c42b;
    border-bottom: #00c42b solid 2px;
}

.right_disable {
    width: 24%;
    height: 20px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #888888;
}

.right_enable {
    width: 24%;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #00c42b;
    border-bottom: #00c42b solid 2px;
}

.list-2item {
    width: 49% !important;
}

.list-inline {
    margin: 0 !important;
}

.list-inline li {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.receiver-header {
    border-bottom: none;
    margin-bottom: 15px;
}

.thumbnail {
    width: 175px;
    height: 241px;
    border: none !important;
    float: left;
    position: relative;
}

.font-weight {
    font-weight: bold;
    color: #000000;
}

.mg10 {
    margin-left: 10px;
}

.mg20 {
    margin-left: 20px;
}

.small-profile {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

.medium-profile {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.profile50 {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.comment-profile {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

.comment-profile-right {
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 10px;
}

.profile-name {
    display: block;
    font-size: 11px;
    font-weight: 700;
    color: #505050;
}

.profile-address {
    font-size: 10px;
    display: block;
    font-weight: 500;
    text-align: left;
    color: #888888;
}

.profile-name-medium {
    display: block;
    font-size: 13px;
    font-weight: bold;
    color: #00c42b;
    margin : 7px 0;
}

.profile-address-medium {
    font-size: 11px;
    display: block;
    font-weight: 200;
    text-align: left;
    color: #888888;
}

.Rectangle-8 {
    margin-left: 12px;
}

.pagination {
    margin-left: 60px !important;
}

.pagination .page-link{
    width: 39px;
    height: 39px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
}

.pagination .active {
    background-color : #00c42b;
    color : #ffffff;
}

.pagination .inactive {
    background-color : #ffffff;
    color : #dedede;
}

.ml39 {
    margin-left: 39%;
}

.ml42 {
    margin-left: 39%;
}

.rectangle-title {
    margin: 10px;
    border-bottom: 0.2px solid #cccccc;
    padding: 5px;
}

.rectangle-detail {
    padding: 5px;
    margin:10px;
}

.fav-empty {
    height: 667px;
    background-color: #f7f7f7;
}

.fav-empty, .cart-done span {
    display: block;
    color: #222222;
    text-align: center;
}

.fav-empty, .cart-done p {
    padding-top: 50%;
}

.fav-empty button {
    width: 335px;
    height: 50px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    margin-top: 40%;
}

.primary-button {
    width: 335px;
    height: 50px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}

.Rectangle li {
    cursor: pointer;
}

.Rectangle li.list-group-item {
    color: #222222;
    border-radius: 0;
    line-height: 2;
    width: 80%;
    height: 100%;
}

.li-profile {
    line-height: 4;
    background-color: #f7f7f7 !important;
}

.li-active {
    color: #c94242;
}

#reicever-menu-wrapper {
    background-color: #c3c3c3;
    height: 600px;
}

.btn-success {
    background-color: #00c42b !important;
}

img {
    cursor: pointer;
}

.thumb-image {
    padding: 15px;
    margin-left: 15%;
    margin-bottom: 15px;
}

#receiver-profile {
    margin: 25px 0 25px 13px;
    position: relative;
}

#profile-description {
    width: 345px;
    height: 355px;
    background-color: #f2f3f7;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0 10px 13px;
}

#farmer-profile-description {
    border-radius: 5px;
    padding: 13px;
    font-size: 14px;
    text-align: justify;
    color: #444444;
}

#profile-description p {
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    color: #444444;
}

#reicever-detail-wrapper {
    height: auto;
}

#reicever-profile-farmer {
    height: 1352px;
}

#detail-info {
    padding: 15px;
    font-size: 12px;
    background-color: #ffffff;
    width: 372px;
    height: 135px;
}

.fix-length {
    width: 92px;
    display: inline-block;
    color: #888888;
}

#detail-rate span {
    display: block;
    text-align: center;
}

.rate-des {
    color: #aaaaaa;
    font-size: 8px;
}

#detail-rate .list-inline {
    width: 375px;
    height: 95px;
}

#detail-rate .list-inline li {
    width: 19%;
}

#detail-rate img {
    margin-left: 20%;
}

#detail-rate .list-group-item {
    border: none;
}

.title-section-small {
    font-weight: bold;
    font-size: 12px;
    color : #222222;
    background-color: #f2f3f7;
    height: 45px;
    margin: 10px 0;
}

.title-section-small p {
    padding: 15px;
}

.title-section-medium {
    font-weight: bold;
    font-size: 20px;
    color : #222222;
    text-align: center;
}

.tag {
    padding: 5px;
}
.tag button {
    margin: 3px;
}

.comment-description {
    width: 295px;
    background-color: #f2f3f7;
    border-radius: 5px;
    padding: 10px;
    margin-right: 15px;
}

.comment-description p {
    font-size: 11px;
    line-height: 12px;
    text-align: justify;
    color: #444444;
}

.div-comment-profile {
    margin-left: 13px;
    margin-top: 20px;
}

.comment-date {
    text-align: right;
    font-size: 10px;
    font-weight: 500 !important;
    color: #888888 !important;
}

.bottom-cart-button {
    background-color: #ffffff;
    border-top: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    height: 69px;
    margin: 20px 0;
    padding: 4px 10px 0 13px;
}

.bottom-cart-button span {
    display: block;
}

.price-title {
    color: #222222;
    font-size: 20px;
    font-weight: 800;
}

.price-tax {
    text-align: left;
    color: #222222;
    font-size: 10px;
    font-weight: 500;
}

.price-quality {
    text-align: left;
    color: #888888;
    font-size: 12px;
    font-weight: 500;
}

#receiver-cart-button {
    width: 150px;
    height: 44px;
    font-weight: bold;
    margin: 5px 10px;
}

.textarea {
    width: 345px;
    height: 120px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
    margin : 13px 13px 5px 13px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #222222;
}

.btn-disable {
    width: 345px;
    height: 44px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #cccccc;
    margin-left: 13px;
}

.comment-camera {
    width: 24px;
    height: 24px;
    top: 51%;
    right: 6%;
    position: absolute;
}

.farmer-comment-camera {
    width: 24px;
    height: 24px;
    top: 56%;
    right: 17%;
    position: absolute;
}

.comment-text-limit {
    font-size: 14px;
    color: #888888;
    font-weight: 500;
    position: absolute;
    top: 53.5%;
    right: 15%;
}

.comment-empty-text-limit {
    font-size: 14px;
    color: #888888;
    font-weight: 500;
    position: absolute;
    top: 48.5%;
    right: 9%;
}

.farmer-comment-text-limit {
    font-size: 14px;
    color: #888888;
    font-weight: 500;
    position: absolute;
    top: 57.5%;
    right: 8.5%;
}

.service-comment-text-limit {
    font-size: 14px;
    color: #888888;
    font-weight: 500;
    position: absolute;
    top: 47.5%;
    right: 8.5%;
}

.comment-area {
    position: relative;
}

.modal-select-time {
    width: 345px;
    height: 491px;
    border-radius: 3px;
    background-color: #ffffff;
    margin: auto;
    position: absolute;
    z-index: 1000;
    top: 60px;
    left: 10.7%;
}

.count-number {
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 3px;
    padding-top: 7px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
    text-align: center;
    color: #222222;
}

.count-modal {
    background-color: #ffffff;
    border-bottom: 0.5px solid #cccccc;
    height: 69px;
    padding: 4px 10px 0 13px;
}

.count-modal span {
    display: block;
}

.count-date {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.count-quality {
    text-align: left;
    color: #888888;
    font-size: 12px;
    font-weight: 500;
    margin-left: 10px;
}

.count-price {
    text-align: left;
    color: #888888;
    font-size: 12px;
    font-weight: 500;
}

.count-right {
    margin-top: 10px;
}

.modal-header {
    text-align: center;
    font-size : 14px;
    font-weight: bold;
    color: #222222;
}

#order_button {
    width: 315px;
    height: 44px;
    font-weight: bold;
    margin: 15px;
}

.shadow {
    position: relative;
    z-index: 1;
    opacity: 0.2;
    background-color: #000000 !important;
}

.x-button {
    font-size: 30px;
    position: absolute;
    z-index: 1000;
    top: 10px;
    left: 35.7%;
    color: white;
    cursor: pointer;
}

.receiver-history-main {
    height: 870px;
    background-color: #f7f7f7;
    padding-top: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #c3c3c3;
}

.receiver-history-main select {
    width: 345px;
    height: 50px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
    font-size: 15px;
    color: #222222;
    margin: auto;
}

.receiver-order-detail {
    height: 141px;
    width: 345px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 0.5px #cccccc;
    margin: auto;
    margin-top: 15px;
}

.order-detail-profile {
    margin: 7px;
    width: 80%;
}

.order-detail-profile span {
    display: block;
}

.order-profile {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.order-detail-profile .profile-name-medium {
    color: #222222 !important;
    font-size: 16px;
}

.arrow-right {
    margin: 20px 10px 0 0;
}

.fix-length1 {
    width: 72px;
    display: inline-block;
    color: #888888;
    font-size: 12px;
}

.order-detail-info {
    border-top : 1px solid #c3c3c3 ;
    margin: 5px 10px 0 7px;
    padding-top: 5px;
}

.link-success {
    color: #00c42b;
    margin-top: 17px;
}
.link-success a {
    color: #00c42b;
}

.title-section-white {
    width: 374px;
    height: 62px;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    color : #222222;
    border-right: 1px solid #c3c3c3;
    padding-left: 13px;
    padding-top: 10px;
}

.title-section-white p {
    font-size: 16px;
}

.title-section-white span {
    font-size: 11px;
    color: #888888;
    font-weight: 400;
}


#receiver-cart-wrapper {
    background-color: #ffffff;
    height: 1410px;
}

#receiver-cart-confirm-wrapper {
    background-color: #ffffff;
    height: 1000px;
}

#receiver-status-wrapper {
    background-color: #ffffff;
    height: 1429px;
}

.cart-profile {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}

.delete-link {
    color: #888888 !important;
}

.cart-detail-info {
    margin: 0 10px;
    padding-top: 5px;
}

.cart-link {
    color: #00c42b !important;
    margin-right: 10px;
}

.profile-order-medium {
    font-size: 11px;
    display: block;
    font-weight: 600;
    text-align: left;
    color: #222222;
    margin-top: 10px;
}

.receiver-cart .arrow-right {
    margin-top: 40px;
}

.receiver-cart {
    border-bottom: 1px solid #c3c3c3;
    height: 134px;
}
.cart-content {
    width: 345px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 0.5px #cccccc;
    margin: 10px auto;
}

#cart-main-content1 {
    height: 333px;
}

#cart-main-content2 {
    height: 333px;
}

#cart-main-content3 {
    height: 654px
}

#cart-sub-content {
    height: 385px;
}

.product-cart-button {
    margin: 10px auto;
}

.product-cart-button p {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #344250;
}

.cart-button-confirm {
    width: 325px;
    height: 50px;
    margin-left: 9px;
    font-weight: bold !important;
}

.cart-main-title {
    font-size: 16px;
}

.cart-sub-title {
    font-size: 12px;
    margin-left: 10px;
}

.cart-title {
    margin-top: 25px;
    margin-left: 13px;
}

#cart-confirm-main {
    background-color: #f7f7f7;
    padding-top: 20px;
}

#map-content-wrapper {
    background-color: #f7f7f7;
    padding-top: 20px;
}

.title-section-medium {
    font-size: 12px;
    color : #222222;
    margin: 15px 0;
    text-align: center;
}

.profile50 {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

.receiver-cart-confirm {
    height: 70px;
    margin: 0 10px;
    border-bottom: 1px solid #c3c3c3;
}

.receiver-cart-confirm p {
    margin-top: 20px;
    margin-right: 10px;
}

.receiver-cart-confirm-profile {
    margin: 7px 0 7px 0;
    width: 60%;
}

.receiver-status-done {
    margin: 7px 0 7px 0;
    width: 60%;
}

.receiver-cart-confirm-profile .profile-name-medium {
    color: #222222 !important;
    font-size: 16px;
}

.title14 {
    font-size: 14px;
}

.title13 {
    font-size: 13px;
}

.title12 {
    font-size: 12px;
}

.title10 {
    font-size: 10px;
}

.title11 {
    font-size: 11px;
}


.title16 {
    font-size: 16px;
}

.title20 {
    font-size: 20px;
}

.title18 {
    font-size: 18px;
}

.margin-left10 {
     margin-left: 10px;
 }

.margin-left15 {
    margin-left: 15px;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-left30 {
    margin-left: 30px;
}

.margin-left40 {
    margin-left: 40px;
}

.margin-left50 {
    margin-left: 50px;
}

.margin-left60 {
    margin-left: 60px;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right13 {
    margin-right: 13px;
}

.margin-right15 {
    margin-right: 15px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top15 {
    margin-top: 15px;
}

.margin-bottom15 {
    margin-bottom: 15px !important;
}

.margin-bottom10 {
     margin-bottom: 10px !important;
}

.padding-bottom10 {
    padding-bottom: 10px;
}

.padding-bottom15 {
    padding-bottom: 15px;
}


.color888 {
    color: #888888;
}

.color222 {
    color: #222222;
}

.cart-container {
    border-bottom: 1px solid #c3c3c3;
}

#cart-button-group {
    margin-top: 20px;
    padding: 15px;
    height: 69px;
    border-bottom: 1px solid #c3c3c3;
    border-top: 1px solid #c3c3c3;
}

.btn-success {
    font-weight: bold !important;
}

.margin-bottom0 {
    margin-bottom: 0;
}

.backgroundf7f7f7 {
    background-color: #f7f7f7 !important;
}

#cart-done-button {
    background-color: #344250 !important;
    border: 1px solid #344250;
    width: 345px;
    height: 44px;
    margin: 15px;
}

#reicever-cart-done {
    background-color: #ffffff;
    height: 600px;
}

.cart-done {
    height: 525px;
    background-color: #f7f7f7;
}

.receiver-status-profile {
    margin: 10px 10px 10px 10px ;
    border-bottom: 1px solid #c3c3c3;
    padding-bottom: 15px;
}

.order-title {
    border-bottom: 2px solid #333333;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 10px;
    margin: 10px;
    font-size: 16px;
}

.padding-top15 {
    padding-top: 15px;
}

.padding-top10 {
    padding-top: 10px;
}

.order-title2 {
    margin-right: 10px;
    border-bottom: 1px solid #c3c3c3;
}

.font-bold {
    font-weight: bold;
}

.color-primary {
    color: #00c42b !important;
}

.status-done-th {
    margin: 0 10px;
    border-bottom: 1px solid #c3c3c3;
    padding: 4px 0;
    text-align: center;
}

.margin-right160 {
    margin-right: 160px;
}

#cart-main-content3 .cart-container {
    border-bottom: 2px solid #333333;
}

.status_progress-3 {
    height: 63px;
}

.map {
    margin: 25px auto;
    text-align: center;
}

.input9 {
    width: 275px;
    height: 60px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
    font-size: 16px;
    margin-top: 15px;
}

.btn-inactive {
    width: 345px;
    height: 44px;
    background-color: #cccccc !important;
    font-weight: bold !important;
    font-size: 16px !important;
    color: white;
    margin: 10px auto;
}

.qr-camera {
    margin-right: 5px;
    margin-bottom: 3px;
}

/*Form Wizard*/

.stepwizard-step p {
    margin-top: 25px;
    margin-left: 15px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 90%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    margin-left: 19%;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 68%;
    height: 2px;
    background-color: #cccccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.circle-symbol {
    font-size: 30px;
    color: #888888;
    position: absolute;
    top: -8px;
}
/*END Form Wizard*/

.width120 {
    width: 120% !important;
}

.wait-approve {
    background-color: #c94242 !important;
    margin-left: 5px;
}

.delivery-now {
    background-color: #344250 !important;
    margin-left: 5px;
}

.wait-order {
    background-color: #00c42b !important;
    margin-left: 5px;
}

.unlike-icon {
    position: absolute;
    top: 100px;
    left: 139px;
    z-index: 100;
}

.like-icon {
    position: absolute;
    top: 100px;
    left: 139px;
    z-index: 99;
}

.top-left {
    top: 98px;
    left: 138px;
}

.heart-icon {
    position: absolute;
    top : 295px;
    left: 295px;
}

.full {
    position: relative;
}

.search-input {
    width: 345px;
    height: 35px;
    border-radius: 3px;
    background-color: #eeeeee;
    margin: 15px 13px;
}

#search-menu {
    width: 375px;
    height: 548px;
    background-color: #ffffff;
}

#search-menu li {
    line-height: 30px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
}

.margin-top5{
    margin-top: 5px;
}

.line-height15 {
    line-height: 15px !important;
}

.line-height24 {
    line-height: 40px !important;
}

.margin-top-30 {
    margin-top: -30px;
}

.farmer-profile {
    position: relative;
}

.farmer-profile-img {
    width: 372px;
}
.farmer-follow-btn {
    margin-top: 8px;
    margin-right: 20px;
    padding: 8px 10px;
}

.transform360 {
    transform: rotate(-180deg);
}

.arrow-icon-left {
    position: absolute;
    top: 42%;
    left: 2.8%;
}

.arrow-icon-right {
    position: absolute;
    top: 42%;
    right: 2.8%;
}

#receiver-notice li.list-group-item {
    height: 89px;
    font-size: 12px !important;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    line-height: 20px;
    position: relative;
}

.notice-time {
    position: absolute;
    top: 78%;
    right: 4%;
}

#receiver-form input{
    height: 50px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
}

#service-form input{
    height: 50px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
}


.width-full {
    width: 92% !important;
    margin: 0 13px;
}

.width-half {
    width: 40% !important;
    margin: 0 13px;
}

.width-small {
    width: 25% !important;
    margin: 0 13px;
}

.width-mediun {
    width: 60% !important;
    margin: 0 13px;
}

#receiver-form {
    width: 373px;
    height: 877px;
    background-color: #f7f7f7;
    padding-top: 15px;
}

#service-form {
    width: 373px;
    height: 550px;
    background-color: #f7f7f7;
    padding-top: 15px;
}

.display-block {
    display: block !important;
}

.margin-left13 {
    margin-left: 13px !important;
}

.display-inline {
    display: inline !important;
}

.setting-btn {
    width: 345px;
    height: 44px;
    background-color: #344250 !important;
    color: white !important;
    font-weight: bold !important;
    margin-left: 13px;
    margin-top: 20px;
}

.text-alight-center {
    text-align: center;
}

.height50 {
    height: 50px;
}

.no-top-border {
    border-top: 0 !important;
}

#product-list {
    height: 850px;
    background-color: #f7f7f7;
}

#product-list .thumbnail {
    margin: 5px;
}

.btn-labelmedium {
    width: 315px;
    height: 44px;
    margin: 20px 13px 10px 26px;
}

.btn-labelsmall {
    width: 80px;
    height: 34px;
    background-color: #344250 !important;
    color: white !important;
    font-weight: bold !important;
}

#service-top-img {
    position: relative;
}

#service-top-img img{
    width: 373px;
}

#service-top-img button{
    position: absolute;
    top:68%;
    left: 0.68%;
}

#service-bus-icon ul li {
    list-style: none;
    margin-left: 20px;
}

.primary-square {
    font-size: 25px;
    border-radius: 1px;
    color: #00c42b;
    margin-right: 10px;
}

#service-top {
    height: 3000px;
}

.bus-icon {
    margin: 25px 0 25px 25%;
}

.seller-icon {
    margin: 25px 0 25px 35%;
}
.buyer-icon {
    margin: 25px 0 25px 36%;
}


#service-map {
    position: relative;
    margin: 25px 0;
}

#service-map img{
    width: 373px;
}

#service-map button{
    position: absolute;
    top:77.5%;
    left: 0.775%;
}

#service-org-chat {
    margin: 25px 0;
}

.product-list-title {
    margin-bottom: 20px;
    padding-top: 25px;
    text-align: center;
}

#footer {
    background-color: #344250;
    margin-top: 80px;
    padding-bottom: 30px;
}

#footer li {
    float: left;
    width: 50%;
    padding: 15px 0;
    color: white;
    list-style: none;
    font-size: 13px;
}

#footer li a {
    color: white !important;
}
#footer p {
    color: white;
    opacity: 0.5;
    clear: both;
    text-align: center;
    padding-top: 20px;
    font-size: 11px;
    font-weight: bold;
}

#service-regist {
    height: 600px;
    position: relative;
}

#service-regist p {
    text-align: center;
    font-size: 13px;
}

.padding-top25 {
    padding-top: 25px;
}

.select {
    width: 345px;
    height: 50px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
    font-size: 15px;
    color: #222222;
    margin: auto;
}

#confirm-area {
    width: 345px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 0.5px #cccccc;
    margin: auto;
    margin-bottom: 10px;
    padding: 13px;
}

#confirm-area label {
    display: block;
    line-height: 25px;
}

#service-wrapper {
    height: 951px;
    background-color: #f7f7f7;
    padding-top: 30px;
}

#service-regist-receiver-wrapper {
    height: 1234px;
}

.has-error {
    color: #d0021b;
    font-size: 12px;
    text-align: center;
}

#service-wrapper p {
    text-align: center;
}

.farmer-new-header {
    width: 375px;
    height: 54px;
    border-top: 1px solid #a3a3a3;
    padding: 10px;
}

.logo-svg {
    margin-left: 20%;
}

#export-button {
    position: absolute;
    top: 65%;
    left: 10%;
}

.farmer-trans-detail {
    height: 99px;
    width: 345px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 0.5px #cccccc;
    margin: auto;
    margin-bottom: 15px;
}

#farmer-trans-button {
    width: 345px;
    height: 44px;
    margin: 10px auto;
    font-weight: bold;
}

.height141 {
    height: 141px;
}

.background344250 {
    background-color: #344250 !important;
    color:white;
    font-weight: bold !important;
    border: 1px solid #344250 !important;
}

#farmer-history-detail {
    height: 44px;
    width: 150px;
    margin-top: 6px;
}

#farmer-status-order-button {
    width: 325px;
    height: 44px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #344250 !important;
    color:white;
    font-weight: bold !important;
    border: 1px solid #344250 !important;
}

.button-344250 {
     width: 345px;
     height: 44px;
     margin-top: 30px;
     margin-left: 10px;
     background-color: #344250 !important;
     color: white;
     font-weight: bold !important;
     border: 1px solid #344250 !important;
 }

#farmer-qr-code {
    width: 325px !important;
}

#qr-code-dialog {
    width: 275px;
    height: 330px;
    border-radius: 3px;
    background-color: #ffffff;
    margin: auto;
    position: absolute;
    z-index: 1000;
    top: 80px;
    left: 13.3%;
}

.qr-code-p {
    padding: 40px 60px;
}

#qr-code-x-button {
    left: 32.7%;
    top: 40px;
}

.height1600 {
    height: 1600px !important;
}

.height1200 {
    height: 1200px !important;
}

.days-button {
    font-weight: bold !important;
    margin: 0 3px;
}

.btn-small-black {
    width: 100px;
    height: 50px;
    background-color: #344250 !important;
    font-weight: bold;
    color: white !important;
}

.upload-image {
    width: 345px;
    height: 79px;
    border-radius: 3px;
    background-color: #344250 !important;
    font-weight: bold !important;
    color: white !important;
}

.upload-image img {
    margin-right: 5px;
}

.upload-image-small {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    background-color: #344250 !important;
    font-weight: bold !important;
    color: white !important;
}

.delete-img-link span {
    width: 79px;
    height: 23px;
    opacity: 0.8;
    border-radius: 3px;
    background-color: #ffffff;
    color: #222222;
    position: absolute;
    text-align: center;
    padding-top: 3px;
    top: 170%;
    left: 2%;
    font-size: 11px;
}

.delete-img-link {
    text-decoration: none !important;
    position: relative;
}

.input-error {
    border: red 1px solid !important;
}

.icon-camera {
    position: absolute;
    left: 3%;
    top: 18%;
}

.mask {
    opacity: 0.4;
    background-color: #000000 !important;
}

#upload-zone {
    height: 211px;
    background-color: #e6e6e6;
    position: relative;
}

.upload-zone-camera {
    position: absolute;
    top: 40%;
    left: 47%;
}

#upload-zone p {
    position: absolute;
    top: 59%;
    left: 37%;
}

#cover-zone {
    width: 373px;
}

.tag-done {
    position: absolute;
    top: 1.4%;
    left: 2%;
}

.Rectangle-12 {
    width: 345px;
    height: 326px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 0.5px #cccccc;
    padding: 13px;
    margin: 20px auto;
}

.guide-content {
    color: #444444;
    font-size: 14px;
    text-align: justify;
    line-height: 24px;
    font-weight: 400;
}

.guide-title {
    font-weight: bold;
}

/*For PC style*/
.pc-wrapper {
    width: 1200px;
    height: 964px;
    background-color: #f7f7f7;
    margin: 0 5%;
    border: 1px solid #cccccc;
}

.pc-header {
    width: 920px;
    height: 54px;
    padding-top: 10px;
    margin-left: 12%;
}

.pc-header .logo {
    margin-left: 40%;
    margin-top: 5px;
}

.pc-rectangle {
    width: 920px;
    height: 50px;
    background-color: #ffffff;
    margin-left: 12%;
}

.pc-rectangle li {
    padding-bottom: 35px;
}

.pc-title-section-small {
    font-weight: bold;
    font-size: 12px;
    color : #222222;
    background-color: #f2f3f7;
    height: 45px;
    margin: 10px 0 10px 26%;
}

.pc-title-section-small p {
    padding: 15px;
}

.pc-title-section-white {
    height: 62px;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    color : #222222;
    padding-left: 27%;
    padding-top: 10px;
}

.pc-title-section-white p {
    font-size: 16px;
}

.pc-title-section-white span {
    font-size: 11px;
    color: #888888;
    font-weight: 400;
}

.pc-cart-title {
    margin-top: 25px;
    padding-left: 27%;
}

.pc-cart-content {
    width: 600px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 0.5px #cccccc;
    margin: 10px 0 10px 27%;
}

.pc-cart-button-confirm {
    width: 580px;
    height: 50px;
    margin-left: 9px;
    font-weight: bold !important;
}

.pc-farmer-new-header {
    width: 920px;
    height: 54px;
    padding: 10px;
    background-color: #ffffff;
    margin-left: 12%;
}

.pc-farmer-new-header .logo-svg {
    margin-left: 38%;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    height: 2600px; /* Should be removed. Only for demonstration */
}

.pc-left-layout {
    width: 45%;
    padding-left: 30px;
    padding-top: 40px;
}

.pc-right-layout {
    width: 55%;
    padding-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#pc-long-height {
    height: 2300px !important;
}

.pc-bottom-cart-button {
    height: 69px;
    margin: 50px 13px;
    padding: 4px 10px 0 13px;
}

#pc-profile-description {
    width: 500px;
    height: 235px;
    background-color: #f2f3f7;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0 10px 13px;
}

.pc-textarea {
    width: 630px;
    height: 120px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #c9c9c9;
    margin : 13px 13px 5px 0;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #222222;
}

#pc-detail-rate .list-inline {
    width: 640px;
    height: 95px;
}

#pc-detail-rate .list-inline li {
    width: 19%;
    text-align: center;
}

#pc-detail-rate .list-inline li img {
    margin: auto;
}

.pc-rate-des {
    color: #aaaaaa;
    font-size: 8px;
}

.pc-btn-disable {
    width: 640px;
    height: 44px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    background-color: #cccccc;
}

.pc-thumbnail-panel {
    background-color: #f7f7f7;
    padding-left: 3.5%;
    padding-top: 20px;
}

.pc-thumbnail {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 266px;
    height: 361.5px;
    border-radius: 4.5px;
    border: solid 0.8px #e6e6e6;
    background-color: #ffffff;
}

.pc-marin-left40 {
    margin-left: 40% !important;
}
