{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
            <li class="{% if active_menus(menus)[0] == 'schedule' %}active{% endif %}">
                <a class="toggle"><svg class="cb cb-tag"> <use xlink:href="#cb-tag" /></svg>運行スケジュール管理<svg class="cb cb-angle-down"> <use xlink:href="#cb-angle-down" /></svg></a>
                <ul {% if active_menus(menus)[0] == 'schedule' %}class="active" style="display: block;"{% endif %}>
                    <li id="navi-schedule-index" class="{% if active_menus(menus)[1] == 'schedule_master' %}active{% endif %}"><a href="{{ url('admin_schedule_list') }}">運行スケジュールマスタ</a></li>
                    <li id="navi-schedule-new" class="{% if active_menus(menus)[1] == 'schedule_new' %}active{% endif %}"><a href="{{ url('admin_schedule_route') }}">運行スケジュール登録</a></li>
                    <li id="navi-schedule-bus-stop" class="{% if active_menus(menus)[1] == 'schedule_bus_stop' %}active{% endif %}"><a href="{{ url('admin_schedule_bus_stop') }}">停留所情報登録</a></li>
                    <li id="navi-schedule-bus" class="{% if active_menus(menus)[1] == 'schedule_bus' %}active{% endif %}"><a href="{{ url('admin_schedule_bus') }}">号車情報登録</a></li>aa
                </ul>
            </li>